server:
  port: 12345
management:
  endpoints:
    web:
      exposure:
        include: health,info
spring:
  data:
    redis:
      host: localhost
      port: 6379
      password: redis123
      database: 0
      timeout: 5s
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 1
  kafka:
    properties:
      schema.registry.url: http://localhost:8081
      value.subject.name.strategy: io.confluent.kafka.serializers.subject.TopicNameStrategy
    consumer:
      properties:
        specific.avro.reader: true